<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.fpy.mapper.BdCurrencyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kingdee.fpy.model.BdCurrency">
        <id column="fid" jdbcType="BIGINT" property="id" />
        <result column="fnumber" jdbcType="VARCHAR" property="number" />
        <result column="famtprecision" jdbcType="BIGINT" property="amtprecision" />
        <result column="fpriceprecision" jdbcType="BIGINT" property="priceprecision" />
        <result column="fisshowsign" jdbcType="CHAR" property="isshowsign" />
        <result column="fsign" jdbcType="VARCHAR" property="sign" />
        <result column="fformat" jdbcType="VARCHAR" property="format" />
        <result column="fissystem" jdbcType="CHAR" property="issystem" />
        <result column="fenable" jdbcType="CHAR" property="enable" />
        <result column="fstatus" jdbcType="VARCHAR" property="status" />
        <result column="fcreatorid" jdbcType="BIGINT" property="creatorid" />
        <result column="fcreatetime" jdbcType="VARCHAR" property="createtime" />
        <result column="fmodifierid" jdbcType="BIGINT" property="modifierid" />
        <result column="fmodifytime" jdbcType="VARCHAR" property="modifytime" />
        <result column="fdisablerid" jdbcType="BIGINT" property="disablerid" />
        <result column="fdisabledate" jdbcType="VARCHAR" property="disabledate" />
        <result column="flogo" jdbcType="VARCHAR" property="logo" />
        <result column="fmasterid" jdbcType="BIGINT" property="masterid" />
        <result column="fpositiveformat" jdbcType="VARCHAR" property="positiveformat" />
        <result column="fnegativeformat" jdbcType="VARCHAR" property="negativeformat" />
        <result column="fseparator" jdbcType="VARCHAR" property="separator" />
        <result column="fgroupformat" jdbcType="VARCHAR" property="groupformat" />
        <result column="fsortcode" jdbcType="VARCHAR" property="sortcode" />
        <result column="fname" jdbcType="VARCHAR" property="name" />
        <result column="fdescription" jdbcType="VARCHAR" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fid, fnumber, famtprecision, fpriceprecision, fisshowsign, fsign, fformat, fissystem, fenable, fstatus, fcreatorid, fcreatetime, fmodifierid, fmodifytime, fdisablerid, fdisabledate, flogo, fmasterid, fpositiveformat, fnegativeformat, fseparator, fgroupformat, fsortcode, fname, fdescription
    </sql>

    <!-- 根据主键查询 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_bd_currency
        WHERE fid = #{id}
    </select>

    <!-- 查询所有记录 -->
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_bd_currency
        ORDER BY fid DESC
    </select>

    <!-- 根据条件查询 -->
    <select id="selectByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_bd_currency
        <where>
            <if test="condition.id != null">
                AND fid = #{condition.id}
            </if>
            <if test="condition.number != null">
                AND fnumber = #{condition.number}
            </if>
            <if test="condition.amtprecision != null">
                AND famtprecision = #{condition.amtprecision}
            </if>
            <if test="condition.priceprecision != null">
                AND fpriceprecision = #{condition.priceprecision}
            </if>
            <if test="condition.isshowsign != null">
                AND fisshowsign = #{condition.isshowsign}
            </if>
            <if test="condition.sign != null">
                AND fsign = #{condition.sign}
            </if>
            <if test="condition.format != null">
                AND fformat = #{condition.format}
            </if>
            <if test="condition.issystem != null">
                AND fissystem = #{condition.issystem}
            </if>
            <if test="condition.enable != null">
                AND fenable = #{condition.enable}
            </if>
            <if test="condition.status != null">
                AND fstatus = #{condition.status}
            </if>
            <if test="condition.creatorid != null">
                AND fcreatorid = #{condition.creatorid}
            </if>
            <if test="condition.createtime != null">
                AND fcreatetime = #{condition.createtime}
            </if>
            <if test="condition.modifierid != null">
                AND fmodifierid = #{condition.modifierid}
            </if>
            <if test="condition.modifytime != null">
                AND fmodifytime = #{condition.modifytime}
            </if>
            <if test="condition.disablerid != null">
                AND fdisablerid = #{condition.disablerid}
            </if>
            <if test="condition.disabledate != null">
                AND fdisabledate = #{condition.disabledate}
            </if>
            <if test="condition.logo != null">
                AND flogo = #{condition.logo}
            </if>
            <if test="condition.masterid != null">
                AND fmasterid = #{condition.masterid}
            </if>
            <if test="condition.positiveformat != null">
                AND fpositiveformat = #{condition.positiveformat}
            </if>
            <if test="condition.negativeformat != null">
                AND fnegativeformat = #{condition.negativeformat}
            </if>
            <if test="condition.separator != null">
                AND fseparator = #{condition.separator}
            </if>
            <if test="condition.groupformat != null">
                AND fgroupformat = #{condition.groupformat}
            </if>
            <if test="condition.sortcode != null">
                AND fsortcode = #{condition.sortcode}
            </if>
            <if test="condition.name != null">
                AND fname = #{condition.name}
            </if>
            <if test="condition.description != null">
                AND fdescription = #{condition.description}
            </if>
        </where>
        ORDER BY fid DESC
    </select>

    <!-- 根据条件统计数量 -->
    <select id="countByCondition" resultType="int">
        SELECT COUNT(*)
        FROM t_bd_currency
        <where>
            <if test="condition.id != null">
                AND fid = #{condition.id}
            </if>
            <if test="condition.number != null">
                AND fnumber = #{condition.number}
            </if>
            <if test="condition.amtprecision != null">
                AND famtprecision = #{condition.amtprecision}
            </if>
            <if test="condition.priceprecision != null">
                AND fpriceprecision = #{condition.priceprecision}
            </if>
            <if test="condition.isshowsign != null">
                AND fisshowsign = #{condition.isshowsign}
            </if>
            <if test="condition.sign != null">
                AND fsign = #{condition.sign}
            </if>
            <if test="condition.format != null">
                AND fformat = #{condition.format}
            </if>
            <if test="condition.issystem != null">
                AND fissystem = #{condition.issystem}
            </if>
            <if test="condition.enable != null">
                AND fenable = #{condition.enable}
            </if>
            <if test="condition.status != null">
                AND fstatus = #{condition.status}
            </if>
            <if test="condition.creatorid != null">
                AND fcreatorid = #{condition.creatorid}
            </if>
            <if test="condition.createtime != null">
                AND fcreatetime = #{condition.createtime}
            </if>
            <if test="condition.modifierid != null">
                AND fmodifierid = #{condition.modifierid}
            </if>
            <if test="condition.modifytime != null">
                AND fmodifytime = #{condition.modifytime}
            </if>
            <if test="condition.disablerid != null">
                AND fdisablerid = #{condition.disablerid}
            </if>
            <if test="condition.disabledate != null">
                AND fdisabledate = #{condition.disabledate}
            </if>
            <if test="condition.logo != null">
                AND flogo = #{condition.logo}
            </if>
            <if test="condition.masterid != null">
                AND fmasterid = #{condition.masterid}
            </if>
            <if test="condition.positiveformat != null">
                AND fpositiveformat = #{condition.positiveformat}
            </if>
            <if test="condition.negativeformat != null">
                AND fnegativeformat = #{condition.negativeformat}
            </if>
            <if test="condition.separator != null">
                AND fseparator = #{condition.separator}
            </if>
            <if test="condition.groupformat != null">
                AND fgroupformat = #{condition.groupformat}
            </if>
            <if test="condition.sortcode != null">
                AND fsortcode = #{condition.sortcode}
            </if>
            <if test="condition.name != null">
                AND fname = #{condition.name}
            </if>
            <if test="condition.description != null">
                AND fdescription = #{condition.description}
            </if>
        </where>
    </select>

    <!-- 插入记录 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_bd_currency
        (fid, fnumber, famtprecision, fpriceprecision, fisshowsign, fsign, fformat, fissystem, fenable, fstatus, fcreatorid, fcreatetime, fmodifierid, fmodifytime, fdisablerid, fdisabledate, flogo, fmasterid, fpositiveformat, fnegativeformat, fseparator, fgroupformat, fsortcode, fname, fdescription)
        VALUES
        (#{id}, #{number}, #{amtprecision}, #{priceprecision}, #{isshowsign}, #{sign}, #{format}, #{issystem}, #{enable}, #{status}, #{creatorid}, #{createtime}, #{modifierid}, #{modifytime}, #{disablerid}, #{disabledate}, #{logo}, #{masterid}, #{positiveformat}, #{negativeformat}, #{separator}, #{groupformat}, #{sortcode}, #{name}, #{description})
    </insert>

    <!-- 选择性插入记录 -->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_bd_currency
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                fid,
            </if>
            <if test="number != null">
                fnumber,
            </if>
            <if test="amtprecision != null">
                famtprecision,
            </if>
            <if test="priceprecision != null">
                fpriceprecision,
            </if>
            <if test="isshowsign != null">
                fisshowsign,
            </if>
            <if test="sign != null">
                fsign,
            </if>
            <if test="format != null">
                fformat,
            </if>
            <if test="issystem != null">
                fissystem,
            </if>
            <if test="enable != null">
                fenable,
            </if>
            <if test="status != null">
                fstatus,
            </if>
            <if test="creatorid != null">
                fcreatorid,
            </if>
            <if test="createtime != null">
                fcreatetime,
            </if>
            <if test="modifierid != null">
                fmodifierid,
            </if>
            <if test="modifytime != null">
                fmodifytime,
            </if>
            <if test="disablerid != null">
                fdisablerid,
            </if>
            <if test="disabledate != null">
                fdisabledate,
            </if>
            <if test="logo != null">
                flogo,
            </if>
            <if test="masterid != null">
                fmasterid,
            </if>
            <if test="positiveformat != null">
                fpositiveformat,
            </if>
            <if test="negativeformat != null">
                fnegativeformat,
            </if>
            <if test="separator != null">
                fseparator,
            </if>
            <if test="groupformat != null">
                fgroupformat,
            </if>
            <if test="sortcode != null">
                fsortcode,
            </if>
            <if test="name != null">
                fname,
            </if>
            <if test="description != null">
                fdescription,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="number != null">
                #{number},
            </if>
            <if test="amtprecision != null">
                #{amtprecision},
            </if>
            <if test="priceprecision != null">
                #{priceprecision},
            </if>
            <if test="isshowsign != null">
                #{isshowsign},
            </if>
            <if test="sign != null">
                #{sign},
            </if>
            <if test="format != null">
                #{format},
            </if>
            <if test="issystem != null">
                #{issystem},
            </if>
            <if test="enable != null">
                #{enable},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="creatorid != null">
                #{creatorid},
            </if>
            <if test="createtime != null">
                #{createtime},
            </if>
            <if test="modifierid != null">
                #{modifierid},
            </if>
            <if test="modifytime != null">
                #{modifytime},
            </if>
            <if test="disablerid != null">
                #{disablerid},
            </if>
            <if test="disabledate != null">
                #{disabledate},
            </if>
            <if test="logo != null">
                #{logo},
            </if>
            <if test="masterid != null">
                #{masterid},
            </if>
            <if test="positiveformat != null">
                #{positiveformat},
            </if>
            <if test="negativeformat != null">
                #{negativeformat},
            </if>
            <if test="separator != null">
                #{separator},
            </if>
            <if test="groupformat != null">
                #{groupformat},
            </if>
            <if test="sortcode != null">
                #{sortcode},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="description != null">
                #{description},
            </if>
        </trim>
    </insert>

    <!-- 根据主键更新 -->
    <update id="updateByPrimaryKey">
        UPDATE t_bd_currency
        SET fnumber = #{number},
            famtprecision = #{amtprecision},
            fpriceprecision = #{priceprecision},
            fisshowsign = #{isshowsign},
            fsign = #{sign},
            fformat = #{format},
            fissystem = #{issystem},
            fenable = #{enable},
            fstatus = #{status},
            fcreatorid = #{creatorid},
            fcreatetime = #{createtime},
            fmodifierid = #{modifierid},
            fmodifytime = #{modifytime},
            fdisablerid = #{disablerid},
            fdisabledate = #{disabledate},
            flogo = #{logo},
            fmasterid = #{masterid},
            fpositiveformat = #{positiveformat},
            fnegativeformat = #{negativeformat},
            fseparator = #{separator},
            fgroupformat = #{groupformat},
            fsortcode = #{sortcode},
            fname = #{name},
            fdescription = #{description}
        WHERE fid = #{id}
    </update>

    <!-- 根据主键选择性更新 -->
    <update id="updateByPrimaryKeySelective">
        UPDATE t_bd_currency
        <set>
            <if test="number != null">
                fnumber = #{number},
            </if>
            <if test="amtprecision != null">
                famtprecision = #{amtprecision},
            </if>
            <if test="priceprecision != null">
                fpriceprecision = #{priceprecision},
            </if>
            <if test="isshowsign != null">
                fisshowsign = #{isshowsign},
            </if>
            <if test="sign != null">
                fsign = #{sign},
            </if>
            <if test="format != null">
                fformat = #{format},
            </if>
            <if test="issystem != null">
                fissystem = #{issystem},
            </if>
            <if test="enable != null">
                fenable = #{enable},
            </if>
            <if test="status != null">
                fstatus = #{status},
            </if>
            <if test="creatorid != null">
                fcreatorid = #{creatorid},
            </if>
            <if test="createtime != null">
                fcreatetime = #{createtime},
            </if>
            <if test="modifierid != null">
                fmodifierid = #{modifierid},
            </if>
            <if test="modifytime != null">
                fmodifytime = #{modifytime},
            </if>
            <if test="disablerid != null">
                fdisablerid = #{disablerid},
            </if>
            <if test="disabledate != null">
                fdisabledate = #{disabledate},
            </if>
            <if test="logo != null">
                flogo = #{logo},
            </if>
            <if test="masterid != null">
                fmasterid = #{masterid},
            </if>
            <if test="positiveformat != null">
                fpositiveformat = #{positiveformat},
            </if>
            <if test="negativeformat != null">
                fnegativeformat = #{negativeformat},
            </if>
            <if test="separator != null">
                fseparator = #{separator},
            </if>
            <if test="groupformat != null">
                fgroupformat = #{groupformat},
            </if>
            <if test="sortcode != null">
                fsortcode = #{sortcode},
            </if>
            <if test="name != null">
                fname = #{name},
            </if>
            <if test="description != null">
                fdescription = #{description},
            </if>
        </set>
        WHERE fid = #{id}
    </update>

    <!-- 根据主键删除 -->
    <delete id="deleteByPrimaryKey">
        DELETE FROM t_bd_currency
        WHERE fid = #{id}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteByIds">
        DELETE FROM t_bd_currency
        WHERE fid IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
