<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.fpy.mapper.RuleLogMapper">

    <resultMap id="RuleLogResultMap" type="com.kingdee.fpy.model.RuleLog">
        <id property="id" column="fid" />
        <result property="billNo" column="fbill_no" />
        <result property="invoiceNo" column="finvoice_no" />
        <result property="ruleCode" column="frule_code" />
        <result property="executionResult" column="fexecution_result" />
        <result property="errorMessage" column="ferror_message" />
        <result property="inputData" column="finput_data" />
        <result property="outputData" column="foutput_data" />
        <result property="companyId" column="fcompany_id" />
        <result property="requestId" column="frequest_id" />
        <result property="executionTime" column="fexecution_time" />
        <result property="createTime" column="fcreate_time" />
        <result property="updateTime" column="fupdate_time" />
    </resultMap>

    <insert id="insert" parameterType="com.kingdee.fpy.model.RuleLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_rule_log 
        (fbill_no, finvoice_no, frule_code, fexecution_result, ferror_message, finput_data, foutput_data, fcompany_id, frequest_id, fexecution_time)
        VALUES
        (#{billNo}, #{invoiceNo}, #{ruleCode}, #{executionResult}, #{errorMessage}, #{inputData}, #{outputData}, #{companyId}, #{requestId}, #{executionTime})
    </insert>

    <update id="updateById" parameterType="com.kingdee.fpy.model.RuleLog">
        UPDATE t_rule_log
        <set>
            <if test="billNo != null">fbill_no = #{billNo},</if>
            <if test="invoiceNo != null">finvoice_no = #{invoiceNo},</if>
            <if test="ruleCode != null">frule_code = #{ruleCode},</if>
            <if test="executionResult != null">fexecution_result = #{executionResult},</if>
            <if test="errorMessage != null">ferror_message = #{errorMessage},</if>
            <if test="inputData != null">finput_data = #{inputData},</if>
            <if test="outputData != null">foutput_data = #{outputData},</if>
            <if test="companyId != null">fcompany_id = #{companyId},</if>
            <if test="requestId != null">frequest_id = #{requestId},</if>
            <if test="executionTime != null">fexecution_time = #{executionTime},</if>
        </set>
        WHERE fid = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM t_rule_log WHERE fid = #{id}
    </delete>

    <select id="selectById" parameterType="long" resultMap="RuleLogResultMap">
        SELECT fid, fbill_no, finvoice_no, frule_code, fexecution_result, ferror_message, finput_data, foutput_data, fcompany_id, frequest_id, fexecution_time, fcreate_time, fupdate_time
        FROM t_rule_log 
        WHERE fid = #{id}
    </select>

    <select id="selectAll" resultMap="RuleLogResultMap">
        SELECT fid, fbill_no, finvoice_no, frule_code, fexecution_result, ferror_message, finput_data, foutput_data, fcompany_id, frequest_id, fexecution_time, fcreate_time, fupdate_time
        FROM t_rule_log
    </select>

    <insert id="insertBatch">
        INSERT INTO t_rule_log (fbill_no, finvoice_no, frule_code, fexecution_result, ferror_message, finput_data, foutput_data, fcompany_id, frequest_id, fexecution_time) VALUES
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.billNo}, #{item.invoiceNo}, #{item.ruleCode}, #{item.executionResult}, #{item.errorMessage}, #{item.inputData}, #{item.outputData}, #{item.companyId}, #{item.requestId}, #{item.executionTime})
        </foreach>
    </insert>

    <resultMap id="RuleLogDetailResultMap" type="com.kingdee.fpy.dto.RuleLogDetailDto">
        <!-- RuleLog 字段映射 -->
        <id property="id" column="log_id" />
        <result property="billNo" column="log_bill_no" />
        <result property="invoiceNo" column="log_invoice_no" />
        <result property="ruleCode" column="log_rule_code" />
        <result property="executionResult" column="log_execution_result" />
        <result property="errorMessage" column="log_error_message" />
        <result property="inputData" column="log_input_data" />
        <result property="outputData" column="log_output_data" />
        <result property="companyId" column="log_company_id" />
        <result property="requestId" column="log_request_id" />
        <result property="executionTime" column="log_execution_time" />
        <result property="createTime" column="log_create_time" />
        <result property="updateTime" column="log_update_time" />
        
        <!-- InvoiceRules 字段映射 -->
        <result property="ruleName" column="rule_name" />
        <result property="ruleType" column="rule_type" />
        <result property="fieldPath" column="rule_field_path" />
        <result property="ruleExpression" column="rule_expression" />
        <result property="description" column="rule_description" />
        <result property="applyTo" column="rule_apply_to" />
        <result property="priority" column="rule_priority" />
        <result property="active" column="rule_active" />
        <result property="status" column="rule_status" />
        <result property="country" column="rule_country" />
        <result property="invoiceType" column="rule_invoice_type" />
    </resultMap>

    <select id="selectRuleLogsWithDetailsByRequestIdAndBillNo" resultMap="RuleLogDetailResultMap">
        SELECT 
            rl.fid as log_id,
            rl.fbill_no as log_bill_no,
            rl.finvoice_no as log_invoice_no,
            rl.frule_code as log_rule_code,
            rl.fexecution_result as log_execution_result,
            rl.ferror_message as log_error_message,
            rl.frequest_id as log_request_id,
            rl.fexecution_time as log_execution_time,
            ir.frule_name as rule_name,
            ir.frule_type as rule_type,
            ir.ffield_path as rule_field_path,
            ir.frule_expression as rule_expression,
            ir.fdescription as rule_description,
            ir.fapply_to as rule_apply_to,
            ir.fpriority as rule_priority,
            ir.factive as rule_active,
            ir.fstatus as rule_status,
            ir.fcountry as rule_country,
            ir.finvoice_type as rule_invoice_type
        FROM t_rule_log rl
        LEFT JOIN t_invoice_rules ir ON rl.frule_code = ir.frule_code
        WHERE 1=1
        <if test="requestId != null and requestId != ''">
            AND rl.frequest_id = #{requestId}
        </if>
        <if test="billNo != null and billNo != ''">
            AND rl.fbill_no = #{billNo}
        </if>
        ORDER BY rl.fcreate_time DESC
    </select>
</mapper>