<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.fpy.mapper.RuleLogMapper">

    <resultMap id="RuleLogResultMap" type="com.kingdee.fpy.model.RuleLog">
        <id property="id" column="fid" />
        <result property="billNo" column="fbill_no" />
        <result property="invoiceNo" column="finvoice_no" />
        <result property="ruleCode" column="frule_code" />
        <result property="executionResult" column="fexecution_result" />
        <result property="errorMessage" column="ferror_message" />
        <result property="inputData" column="finput_data" />
        <result property="outputData" column="foutput_data" />
        <result property="createTime" column="fcreate_time" />
        <result property="updateTime" column="fupdate_time" />
    </resultMap>

    <insert id="insert" parameterType="com.kingdee.fpy.model.RuleLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_rule_log 
        (fbill_no, finvoice_no, frule_code, fexecution_result, ferror_message, finput_data, foutput_data)
        VALUES
        (#{billNo}, #{invoiceNo}, #{ruleCode}, #{executionResult}, #{errorMessage}, #{inputData}, #{outputData})
    </insert>

    <update id="updateById" parameterType="com.kingdee.fpy.model.RuleLog">
        UPDATE t_rule_log
        <set>
            <if test="billNo != null">fbill_no = #{billNo},</if>
            <if test="invoiceNo != null">finvoice_no = #{invoiceNo},</if>
            <if test="ruleCode != null">frule_code = #{ruleCode},</if>
            <if test="executionResult != null">fexecution_result = #{executionResult},</if>
            <if test="errorMessage != null">ferror_message = #{errorMessage},</if>
            <if test="inputData != null">finput_data = #{inputData},</if>
            <if test="outputData != null">foutput_data = #{outputData},</if>
        </set>
        WHERE fid = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM t_rule_log WHERE fid = #{id}
    </delete>

    <select id="selectById" parameterType="long" resultMap="RuleLogResultMap">
        SELECT fid, fbill_no, finvoice_no, frule_code, fexecution_result, ferror_message, finput_data, foutput_data, fcreate_time, fupdate_time
        FROM t_rule_log 
        WHERE fid = #{id}
    </select>

    <select id="selectAll" resultMap="RuleLogResultMap">
        SELECT fid, fbill_no, finvoice_no, frule_code, fexecution_result, ferror_message, finput_data, foutput_data, fcreate_time, fupdate_time
        FROM t_rule_log
    </select>

    <insert id="insertBatch">
        INSERT INTO t_rule_log (fbill_no, finvoice_no, frule_code, fexecution_result, ferror_message, finput_data, foutput_data) VALUES
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.billNo}, #{item.invoiceNo}, #{item.ruleCode}, #{item.executionResult}, #{item.errorMessage}, #{item.inputData}, #{item.outputData})
        </foreach>
  </insert>
</mapper>